<ion-header-bar class="bg-color-red">

    <h1 class="text">Home</h1> <img src="img/logo.png" width="50" style="position: absolute;right: 0;"> </ion-header-bar>
<!--
    <ion-header-bar class="bar-subheader item-input-inset">

    </ion-header-bar>
-->
<ion-content>
    <br />
    <br />
    <a class="button bg-color-red buttonLocation button-50" href="#/browse">Report a fire</a>

    <a class="button bg-color-red buttonLocation button-50" href="#/map">View map</a    >

    <div class="button-bar">
    <a href="#/tips" class="button bg-color-red buttonLocation " style="width:100%; margin:0; position:absolute;bottom:50px;">Tips how to extinguish fire </a>
        </div>

</ion-content>
