<ion-header-bar class="bg-color-red">
    <h1 class="text"> <a class="button button-icon icon ion-chevron-left" href="#/home"></a> Tips</h1> <img src="img/logo.png" width="50" style="position: absolute;right: 0;"> </ion-header-bar>
<ion-content scroll="false">
    <ion-slides options="options" slider="data.slider">
        <ion-slide-page>
            <div class="box">
                <h4 class="text wrapped">First you'll need to cut off the fuel supply of the fire, it being oxygen the best way to do it by using a fire blanked </h4>
                <h4 class="text wrapped">Grip the unfolded blanket in front of you with your hands and body protected by it, and drape the blanket over the small fire. </h4>
                <h4 class="text wrapped">Do NOT throw the blanket at the fire. </h4>
                    <h4 class="text wrapped">
                    Make sure you leave the blanked for at least 15mins.</h4>
            </div>
        </ion-slide-page>
        <ion-slide-page>
            <div class="box">
                <h4 class="text wrapped">If a fire blanked is nowhere to be found then you should use a fire extinguisher. You should use a class A fire extinguisher since it is a class A fire. Though you should avoid CO2 extinguishers since it will quickly evaporate and the fire may re-ignite.</h4>
                    <h4 class="text wrapped">Aim for the base of the fire. Go back and fourth, sweep until you have cleared a path.</h4>
                        <h4 class="text wrapped"> If the fire cannot be extinguished within 5seconds then it is too big and you should immediately call it in and retreat to safety and call in the fire using our Deltapp * You should call in the fire either way, even if you HAVE managed to contain it, cause the firemen will know how to isolate it so it doesn't re-ignite.</h4>
            </div>
        </ion-slide-page>
        <ion-slide-page>
            <div class="box">
                <h4 class="text wrapped">If you don't have an extinguisher by hand, you can use water. Lots of it. Since Class A extinguishers are water under pressure, it should be effective, but you will need significantly more.</h4>
                <h4 class="text wrapped">If the fire is spreading quicker then you can refill the water then retreat to safety and call in the fire using our Deltapp</h4>
            </div>
        </ion-slide-page>
    </ion-slides>
</ion-content>
